



<div data-delay="5000" data-animation="cross" class="slider w-slider" data-autoplay="false" data-easing="ease"
  data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500"
  data-infinite="true" id="slider">
  <div data-w-id="278c9a9f-9a29-26ca-1584-7d19946dc88c" style="opacity:1" class="mask-slider w-slider-mask">
  

    <div data-w-id="a678c87c-f320-4757-25dd-7eb49dff2a86" class="w-slide">
      <div class="collection-list-wrapper w-dyn-list">
        <div role="list" class="w-dyn-items">
          <div role="listitem" class="collection-item w-dyn-item">
            <div class="slider-text-wrapper">
              <div class="slider-text-container">
                <h1 class="slider-heading bbh1">Clínica dental Huelva</h1>
              
                <p class="summary-slider">Somos expertos en ortodoncia invisible, implantes dentales y muchos
                  más tratamientos que pueden mejorar el aspecto de tu boca.
                  ¡No esperes más para cambiar tu vida!
                </p><a href="our-edge.html" class="button-slider-landing w-button">Our Edge</a>
              </div>
            </div>
           <div class="slider-image-wrapper">
                  <img src="../assets/img/01.png" alt="" srcset="">
                </div>
            <div class="graphics-container">
              <div class="cyan-graphic w-embed"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1106.81 885.61">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: currentColor;
                      }
                    </style>
                  </defs>
                  <path class="cls-1"
                    d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                </svg></div>
              <div class="blue-graphic w-embed"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1106.81 885.61">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: currentColor;
                      }
                    </style>
                  </defs>
                  <path class="cls-1"
                    d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                </svg></div>
            </div>
          </div>
        </div>
      </div>
    </div> 

    

     <div data-w-id="f6496f34-ea96-2c3c-2eda-75ab62c740db" class="w-slide">
      <div class="collection-list-wrapper w-dyn-list">
        <div role="list" class="w-dyn-items">
          <div role="listitem" class="collection-item w-dyn-item">
            <div class="slider-text-wrapper">
              <div class="slider-text-container">
                <div class="section-name-container">

                  <h4 class="section-name-header">For Practices</h4>
                  <div style="width:0%" class="bluie-header-line"></div>
                </div>
                <h1 class="slider-heading">regalo para ti </h1>
              
                <p class="summary-slider">
En clínica Boccio valoramos tu confianza, por eso, tenemos un regalo para ti.</p><a href="for-practices.html"
                  class="button-slider-landing w-button">For Practices</a>
              </div>
            </div>
           <div class="slider-image-wrapper">
              <img src="../assets/img/regalo.png" alt="" srcset="">
            </div>
            <div class="graphics-container"> 
              
              <div class="cyan-graphic w-embed"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1106.81 885.61">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: currentColor;
                      }
                    </style>
                  </defs>
                  <path class="cls-1"
                    d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                </svg></div>
              <div class="blue-graphic w-embed"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1106.81 885.61">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: currentColor;
                      }
                    </style>
                  </defs>
                  <path class="cls-1"
                    d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                </svg></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-w-id="da105e3f-1a51-77f3-137b-45f11655c00e" class="w-slide">
      <div class="collection-list-wrapper w-dyn-list">
        <div role="list" class="w-dyn-items">
          <div role="listitem" class="collection-item w-dyn-item">
           
            <div class="bbbb00">
              <div class="mmm00">
                <div class="kkkkk000">
                  <div class="imm align-left">
                    <img src="../assets/img/enfa.png" alt="">
                    <a href="#">رابط 01</a>
                  </div>
                  <div class="imm align-center">
                    <img src="../assets/img/zira3a.png" alt="">
                    <a href="#">رابط 01</a>
                  </div>
                  <div class="imm align-right">
                    <img src="../assets/img/transparant.png" alt="">
                    <a href="#">رابط 01</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="slider-text-wrapper">
              <div class="slider-text-container">
                <div class="section-name-container">
                  <h4 class="section-name-header">For Insurers</h4>
                  <div style="width:0%" class="bluie-header-line"></div>
                </div>
                <h1 class="slider-heading">Tratamientos dentales </h1>

                <p class="summary-slider">
                  ¿Te preocupa la salud de tu boca? ¿Quieres que tu sonrisa luzca más espléndida?

                  Necesitas una clínica dental de Huelva como Clínica Boccio, porque, con más de 30 años de experiencia
                  y después de haber atendido a más de 35.000 pacientes, sabemos lo que buscas y somos especialistas en
                  todo tipo de tratamientos dentales:
                </p><a href="for-insurers.html" class="button-slider-landing w-button">For Insurers</a>
              </div>
            </div>
            <div class="graphics-container">
              <div class="cyan-graphic w-embed"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1106.81 885.61">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: currentColor;
                      }
                    </style>
                  </defs>
                  <path class="cls-1"
                    d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                </svg></div>
              <div class="blue-graphic w-embed"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1106.81 885.61">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: currentColor;
                      }
                    </style>
                  </defs>
                  <path class="cls-1"
                    d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z"
                    fill="#bd9d5a" />
                </svg></div>
            </div>

          </div>
        </div>
      </div>
      <div data-w-id="15481790-ec4f-e406-962c-469da2571c43" class="w-slide">
        <div class="collection-list-wrapper w-dyn-list">
          <div role="list" class="w-dyn-items">
            <div role="listitem" class="collection-item w-dyn-item">
              <div class="slider-text-wrapper">
                <div class="slider-text-container">
                  <div class="section-name-container">
                    <h4 class="section-name-header">About Us</h4>
                    <div style="width:0%" class="bluie-header-line"></div>
                  </div>
                  <h1 class="slider-heading">Meet the </h1>
                  <h1 class="slider-heading-thin">Videa Team</h1>
                  <p class="summary-slider">Our team is committed to unlock dentistry’s full potential for better
                    patient
                    experiences and outcomes.</p><a href="about-us.html" class="button-slider-landing w-button">About
                    Us</a>
                </div>
              </div>
              <div class="slider-image-wrapper"></div>
              <div class="graphics-container">
                <div class="cyan-graphic w-embed"><svg id="Layer_1" data-name="Layer 1"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1106.81 885.61">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: currentColor;
                        }
                      </style>
                    </defs>
                    <path class="cls-1"
                      d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                  </svg></div>
                <div class="blue-graphic w-embed"><svg id="Layer_1" data-name="Layer 1"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1106.81 885.61">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: currentColor;
                        }
                      </style>
                    </defs>
                    <path class="cls-1"
                      d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                  </svg></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="a3beedf5-79fb-4283-e7d2-67f613a3b412" class="w-slide" style="opacity: 0;">
        <div class="collection-list-wrapper w-dyn-list">
          <div role="list" class="w-dyn-items">
            <div role="listitem" class="collection-item w-dyn-item">
              <div class="slider-text-wrapper">
                <div class="slider-text-container">
                  <div class="section-name-container">
                    <h4 class="section-name-header">Careers</h4>
                    <div style="width:0%" class="bluie-header-line"></div>
                  </div>
                  <h1 class="slider-heading">Work</h1>
                  <h1 class="slider-heading-thin">With Us</h1>
                  <p class="summary-slider">We are on a journey to transform the dental industry. Join us.</p><a
                    href="careers.html" class="button-slider-landing w-button">Careers</a>
                </div>
              </div>
              <div class="slider-image-wrapper"></div>
              <div class="graphics-container">
                <div class="cyan-graphic w-embed"><svg id="Layer_1" data-name="Layer 1"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1106.81 885.61">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: currentColor;
                        }
                      </style>
                    </defs>
                    <path class="cls-1"
                      d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                  </svg></div>
                <div class="blue-graphic w-embed"><svg id="Layer_1" data-name="Layer 1"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1106.81 885.61">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: currentColor;
                        }
                      </style>
                    </defs>
                    <path class="cls-1"
                      d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                  </svg></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="4f13bf3e-cb78-a706-afdb-66e065b96075" class="w-slide" style="opacity: 0;">
        <div class="collection-list-wrapper w-dyn-list">
          <div role="list" class="w-dyn-items">
            <div role="listitem" class="collection-item w-dyn-item">
              <div class="slider-text-wrapper">
                <div class="slider-text-container">
                  <div class="section-name-container">
                    <h4 class="section-name-header">Press</h4>
                    <div style="width:0%" class="bluie-header-line"></div>
                  </div>
                  <h1 class="slider-heading">Stay </h1>
                  <h1 class="slider-heading-thin">Up to Date</h1>
                  <p class="summary-slider">Check out our latest announcements to learn more.</p><a href="press.html"
                    class="button-slider-landing w-button">Press</a>
                </div>
              </div>
              <div class="slider-image-wrapper"></div>
              <div class="graphics-container">
                <div class="cyan-graphic w-embed"><svg id="Layer_1" data-name="Layer 1"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1106.81 885.61">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: currentColor;
                        }
                      </style>
                    </defs>
                    <path class="cls-1"
                      d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                  </svg></div>
                <div class="blue-graphic w-embed"><svg id="Layer_1" data-name="Layer 1"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1106.81 885.61">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: currentColor;
                        }
                      </style>
                    </defs>
                    <path class="cls-1"
                      d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                  </svg></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-w-id="15481790-ec4f-e406-962c-469da2571c43" class="w-slide">
      <div class="collection-list-wrapper w-dyn-list">
        <div role="list" class="w-dyn-items">
          <div role="listitem" class="collection-item w-dyn-item">
            <div class="slider-text-wrapper">
              <div class="slider-text-container">
                <div class="section-name-container">
                  <h4 class="section-name-header">About Us</h4>
                  <div style="width:0%" class="bluie-header-line"></div>
                </div>
                <h1 class="slider-heading  ">nuestro equipo </h1>
                
                <p class="summary-slider">En tu primera visita a nuestras clínica dental en Huelva, nuestro equipo de doctores especializados evaluará tu salud bucodental y efectuará diversas radiografías para obtener un diagnóstico exacto. Todo esto sin ningún coste ni compromiso por tu parte.</p><a href="about-us.html" class="button-slider-landing w-button">About
                  Us</a>
              </div>
            </div>
            
            <div class="graphics-container">
              <div class="slider-image-wrapper">
                <img src="../assets/img/doctor.png" alt="" srcset="">
              </div>
              <div class="cyan-graphic w-embed"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1106.81 885.61">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: currentColor;
                      }
                    </style>
                  </defs>
                  <path class="cls-1"
                    d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                </svg></div>
              <div class="blue-graphic w-embed"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1106.81 885.61">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: currentColor;
                      }
                    </style>
                  </defs>
                  <path class="cls-1"
                    d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                </svg></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-w-id="a3beedf5-79fb-4283-e7d2-67f613a3b412" class="w-slide">
      <div class="collection-list-wrapper w-dyn-list">
        <div role="list" class="w-dyn-items">
          <div role="listitem" class="collection-item w-dyn-item">
            <div class="slider-text-wrapper">
              <div class="slider-text-container">
                <div class="section-name-container">
                  <h4 class="section-name-header">Careers</h4>
                  <div style="width:0%" class="bluie-header-line"></div>
                </div>
                <h1 class="slider-heading">primera cita</h1>
                <h1 class="slider-heading-thin">gratis</h1>
                <p class="summary-slider">Déjanos tus datos para poder personalizar al máximo tu consulta.</p><a
                  href="careers.html" class="button-slider-landing w-button">Careers</a>
              </div>
            </div>
         
            <div class="graphics-container"> 
                <div class="slider-image-wrapper">
              <img src="../assets/img/consulta.png" alt="" srcset="">
            </div>
              <div class="cyan-graphic w-embed"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1106.81 885.61">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: currentColor;
                      }
                    </style>
                  </defs>
                  <path class="cls-1"
                    d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                </svg></div>
              <div class="blue-graphic w-embed"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1106.81 885.61">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: currentColor;
                      }
                    </style>
                  </defs>
                  <path class="cls-1"
                    d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                </svg></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-w-id="4f13bf3e-cb78-a706-afdb-66e065b96075" class="w-slide">
      <div class="collection-list-wrapper w-dyn-list">
        <div role="list" class="w-dyn-items">
          <div role="listitem" class="collection-item w-dyn-item">
            <div class="slider-text-wrapper">
              <div class="slider-text-container">
                <div class="section-name-container">
                  <h4 class="section-name-header">Press</h4>
                  <div style="width:0%" class="bluie-header-line"></div>
                </div>
                <h1 class="slider-heading">Stay </h1>
                <h1 class="slider-heading-thin">Up to Date</h1>
                <p class="summary-slider">Check out our latest announcements to learn more.</p><a href="press.html"
                  class="button-slider-landing w-button">Press</a>
              </div>
            </div>
           
            <div class="graphics-container">
              <div class="cyan-graphic w-embed"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1106.81 885.61">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: currentColor;
                      }
                    </style>
                  </defs>
                  <path class="cls-1"
                    d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                </svg></div>
              <div class="blue-graphic w-embed"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1106.81 885.61">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: currentColor;
                      }
                    </style>
                  </defs>
                  <path class="cls-1"
                    d="M1059,326.79,380.27,10.62C312.42-15.28,227.56,5.24,195,82.81L3.13,617.48c-13.7,44.36,19,110.2,71,131.45L387.16,876.87a117.68,117.68,0,0,0,106.62-9l557.47-346.44C1121.92,477.53,1125.93,376.15,1059,326.79Z" />
                </svg></div>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
  <div id="w-slider-arrow-left" class="left-arrow w-slider-arrow-left">
    <div class="arrow w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.13 15.61">
        <defs>
          <style>
            .cls-1 {
              fill: currentColor;
            }
          </style>
        </defs>
        <g id="Layer_1" data-name="Layer 1">
          <polygon class="cls-1"
            points="8.42 10.34 5.06 13.69 5.06 0 4.06 0 4.06 13.69 0.71 10.34 0 11.04 4.56 15.61 9.13 11.04 8.42 10.34" />
        </g>
      </svg></div>
  </div>
  <div id="w-slider-arrow-right" class="right-arrow w-slider-arrow-right">
    <div class="arrow w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.13 15.61">
        <defs>
          <style>
            .cls-1 {
              fill: currentColor;
            }
          </style>
        </defs>
        <g id="Layer_1" data-name="Layer 1">
          <polygon class="cls-1"
            points="8.42 10.34 5.06 13.69 5.06 0 4.06 0 4.06 13.69 0.71 10.34 0 11.04 4.56 15.61 9.13 11.04 8.42 10.34" />
        </g>
      </svg></div>
  </div>
  <div class="slide-nav w-slider-nav w-round">
    <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 1 of 6" aria-pressed="false" role="button"
      tabindex="-1" ></div>
    <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 2 of 6" aria-pressed="false" role="button"
      tabindex="-1" ></div>
    <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 3 of 6" aria-pressed="false" role="button"
      tabindex="-1" ></div>
    <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 4 of 6" aria-pressed="false" role="button"
      tabindex="-1" style="margin-left: 3px; margin-right: 3px;"></div>
    <div class="w-slider-dot w-active" data-wf-ignore="" aria-label="Show slide 5 of 6" aria-pressed="true"
      role="button" tabindex="0" ></div>
    <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 6 of 6" aria-pressed="false" role="button"
      tabindex="-1" ></div>
  </div>
  <div class="w-embed"></div>
  <div class="dots-colors-slider w-embed">
    <style>
      .w-slider-dot {
        background: none;
        border: 1px solid #0948eb;
        height: 12px;
        width: 12px;
        margin-top: 4px;

      }

      .w-slider-dot.w-active {
        background: #0948eb;

      }
    </style>
  </div>
</div>
  <!--
  -->